/* Estilos para el módulo de empleados */

#tabla-empleados tr td {
    vertical-align: middle;
}

.badge {
    font-size: 0.85em;
    padding: 0.4em 0.6em;
}

#doc-upload-container {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
}

#container-vinculacion {
    background-color: #e9f7fe;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b6d4fe;
    margin-top: 10px;
}

#label-vinculacion {
    color: #0c5460;
    font-weight: bold;
}
