.filters {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
/* Estilos para las etiquetas de estado */
.status-badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}
.status-rendida {
    background-color: #28a745; /* Verde */
}
.status-pendiente {
    background-color: #fd7e14; /* Naranja */
}